{% extends "layout.html" %}
{% block body %}
	{% macro render_field(field, placeholder=None) %}
		{% if field.errors %}
		<div>
		{% elif field.flags.error %}
		<div>
		{% else %}
		<div>
		{% endif %}

		{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
		</div>
	{% endmacro %}

	{% if not g.user.confirmed %}
		<div class="alert alert-warning" role="alert">
			Twoje konto nie zostało jeszcze aktywowane.
			<a href="{{ url_for('users.resend_confirmation_email') }}">Kliknij tutaj</a> aby wysłać ponownie email potwierdzający.
		</div>
		<br>
	{% endif %}
	<h2>Moje konto</h2><br>

	<form action="" method="post" name="register">
		{{ form.hidden_tag() }}

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user"></i></div>
				{{ render_field(form.username, placeholder="Nazwa użytkownika", autofocus="") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.username.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
				{{ render_field(form.email, placeholder="Email") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.email.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-lock"></i></div>
				{{ render_field(form.password, placeholder="Hasło") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.password.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-lock"></i></div>
				{{ render_field(form.confirm, placeholder="Powtórz hasło") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.confirm.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-lock"></i></div>
				{{ render_field(form.old_password, placeholder="Stare hasło") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.old_password.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success">Zaktualizuj konto</button>
		</div>
	</form>
{% endblock %}
