<!-- extend base layout -->
{% extends "layout.html" %}

{% block body %}
	{% macro render_field(field, placeholder=None) %}
		{% if field.errors %}
		<div>
		{% elif field.flags.error %}
		<div>
		{% else %}
		<div>
		{% endif %}

		{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
		</div>
	{% endmacro %}

	{% macro render_checkbox_field(field, text=None) -%}
		<div class="checkbox">
			<label>
				{{ field(type='checkbox', **kwargs) }} {{ text|safe }}
			</label>
		</div>
	{%- endmacro %}

	<div class="auth-box">
		<div class="auth-header">Zaloguj się</div>
		<div class="auth-content">
			<div class="auth-social">
				<a href="{{ url_for('users.oauth_authorize', provider='facebook') }}" class="btn btn-block btn-sm btn-social btn-facebook">
					<i class="fa fa-facebook"></i>
					Zaloguj się przez Facebook
				</a>
				<!-- <a href="{{ url_for('users.oauth_authorize', provider='twitter') }}" class="btn btn-block btn-sm btn-social btn-twitter">
					<i class="fa fa-twitter"></i>
					Zaloguj się przez Twitter
				</a> -->
			</div>

			<div class="auth-separator">
				lub
			</div>

			<div class="auth-form">
				<form action="" method="post" name="login">
					{{ form.hidden_tag() }}

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
							{{ render_field(form.email, placeholder="Email") }}
						</div>
						<div class="form-group has-error">
							<small class="form-group has-error help-block">{{ form.email.errors[0] }}</small>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-lock"></i></div>
							{{ render_field(form.password, placeholder="Hasło") }}
						</div>
						<div class="form-group has-error">
							<small class="help-block">{{ form.password.errors[0] }}</small>
						</div>
					</div>

					<div class="form-group">
						{{ render_checkbox_field(form.remember_me, text="Nie wylogowuj mnie") }}
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Zaloguj się do Przygody</button>
					</div>
				</form>
			</div>

			<div class="auth-footer">
				Nowy w Przygodach? <a href="/users/register/">Zarejstruj się</a>
				<br><br>
				<a href="/users/lost/">Zapomniałeś hasła?</a>
			</div>
		</div>
	</div>
{% endblock %}
