{% extends "layout.html" %}
{% block body %}

	{% macro render_field(field, placeholder=None) %}
		{% if field.errors %}
		<div>
		{% elif field.flags.error %}
		<div>
		{% else %}
		<div>
		{% endif %}

		{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
		</div>
	{% endmacro %}

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyCUcFnTQOK-YqYdcQfkb0-dQ85FZ4zvPxU"></script>
	<script type="text/javascript" src="/static/js/map.js"></script>
	<script type="text/javascript">
		setTimeout(function() {
			{% for marker in markers %}
				var pos = new google.maps.LatLng({{ marker[0]|tojson|safe }}, {{ marker[1]|tojson|safe }});
				markers.push(pos);
			{% endfor %}

			showRoute();

			for (var i = 0; i < markers.length; i++) {
				updateMarkerStatus(i, markers[i]);
			}
		}, 1);

		// window.onload = function() {
		// 	{% for marker in markers %}
		// 		var pos = new google.maps.LatLng({{ marker[0]|tojson|safe }}, {{ marker[1]|tojson|safe }});
		// 		addMarker(pos);
		// 	{% endfor %}
		//
		// 	showRoute();
		// }
	</script>
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker').datetimepicker({
				locale: 'pl',
				minDate: {{ min_date|tojson|safe }},
				date: {{ form.date.data|tojson|safe }}
			});
		});
	</script>

	<script>
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
	    	$('.selectpicker').selectpicker('mobile');
		} else {
			$('.selectpicker').selectpicker({
				size: 4
			});
		}
	</script>

	<h2>Edycja Przygody</h2>
	<br>
	<div id="map-canvas"></div>
	<br><br>
	Aktualna długość trasy: <b><div id="total-distance" style="display: inline;">0 km</div></b>
	<br><br>
	<form action="" method="post" name="edit">
		{{ form.hidden_tag() }}

		<div id="markers"></div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				{{ render_field(form.date, placeholder="Data Przygody", id="datetimepicker") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.date.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			{{ render_field(form.mode, class='selectpicker', title='Wybierz typ Przygody', **{'data-selected-text-format' : 'count>2', 'data-style' : 'btn-info'}) }}
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.mode.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			{{ render_field(form.info, placeholder="Informacje o Przygodzie") }}
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.info.errors[0] }}</small>
			</div>
		</div>

		<br><br>
		<div class="panel panel-info">
			<div class="panel-heading">Uczestnicy</div>
			<ul class="list-group">
				{% if (participants is defined) and participants %}
					{% for participant in participants %}
						<li class="list-group-item">
							<span class="glyphicon glyphicon-ok" style="color:#00FF00; padding-right: 15px;"></span>
							{{ participant.username|safe }}
						</li>
					{% endfor %}
				{% else %}
					<li class="list-group-item">
						<span class="glyphicon glyphicon-remove" style="color:#FF0000; padding-right: 15px;"></span>
						Nikt jeszcze nie dołączył do Przygody
					</li>
				{% endif %}
			</ul>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success">Zapisz zmiany w Przygodzie</button>
		</div>
	</form>
{% endblock %}
