{% extends "layout.html" %}

{% block body %}
	<h2>{{ _('My Adventures') }}</h2>
	<br><br>

	<br>
	<h3>{{ _('Created Adventures') }}</h3>
	<br><br>
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>{{ _('Date') }}</th>
			<th>{{ _('Informations') }}</th>
			<th>{{ _('Joined') }}</th>
			<th>{{ _('Action') }}</th>
		</tr>
		{% for adventure in created_adventures %}
			<tr>
				<td>{{ adventure.id|safe }}</td>
				<td>{{ adventure.date.strftime('%d %m %Y')|safe }}</td>
				<td>{{ adventure.info|safe }}</td>
				<td>{{ adventure.joined|safe }}</td>
				<td><a href="/adventures/edit/{{ adventure.id|safe }}">{{ _('Edit') }}</a> | <a href="/adventures/delete/{{ adventure.id|safe }}">{{ _('Delete') }}</a></td>
			</tr>
		{% endfor %}
	</table>

	<br><br>
	<h3>{{ _('Joined Adventures') }}</h3>
	<br><br>
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>{{ _('Date') }}</th>
			<th>{{ _('Informations') }}</th>
		</tr>
		{% for adventure in joined_adventures %}
			<tr>
				<td><a href="/adventures/{{ adventure.id|safe }}">{{ adventure.id|safe }}</a></td>
				<td>{{ adventure.date.strftime('%d %m %Y')|safe }}</td>
				<td>{{ adventure.info|safe }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
