{% extends "layout.html" %}
{% block body %}

	{% macro render_field(field, placeholder=None) %}
		{% if field.errors %}
		<div>
		{% elif field.flags.error %}
		<div>
		{% else %}
		<div>
		{% endif %}

		{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
		</div>
	{% endmacro %}

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyCUcFnTQOK-YqYdcQfkb0-dQ85FZ4zvPxU"></script>
	<script type="text/javascript" src="/static/js/map.js"></script>

	<script type="text/javascript">
		$(function () {
			$('#datetimepicker').datetimepicker({
				locale: 'pl',
				minDate: '{{ date }}'
			});
		});
	</script>

	<script>
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
	    	$('.selectpicker').selectpicker('mobile');
		} else {
			$('.selectpicker').selectpicker({
				size: 4
			});
		}
	</script>

	<h2>Stwórz Przygodę</h2>
	<br>
	<div id="map-canvas"></div>
	<br><br>
	Aktualna długość trasy: <b><div id="total-distance" style="display: inline;">0 km</div></b>
	<br><br>
	<form action="" method="post" name="new">
		{{ form.hidden_tag() }}

		<div id="markers"></div>

		<div class="form-group">
			<div class="input-group date">
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				{{ render_field(form.date, placeholder="Data Przygody", id="datetimepicker") }}
			</div>
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.date.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			{{ render_field(form.mode, class='selectpicker', title='Wybierz typ Przygody', **{'data-selected-text-format' : 'count>2', 'data-style' : 'btn-info'}) }}
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.mode.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			{{ render_field(form.info, placeholder="Informacje o Przygodzie") }}
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.info.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success">Stwórz nową Przygodę</button>
		</div>
	</form>
{% endblock %}
