{% extends "layout.html" %}
{% block body %}

	{% macro render_field(field, placeholder=None) %}
		{% if field.errors %}
		<div>
		{% elif field.flags.error %}
		<div>
		{% else %}
		<div>
		{% endif %}

		{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
		</div>
	{% endmacro %}

	{% macro render_multiplechoice_field(field, placeholder=None) %}
		{% set css_class = 'form-control selectpicker ' + kwargs.pop('class', '') %}
		{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
	{% endmacro %}

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyCUcFnTQOK-YqYdcQfkb0-dQ85FZ4zvPxU"></script>
	<script>
		var map;
		var rectangle;

		function initialize() {
		    var mapOptions = {
		        zoom: 13,
		        center: new google.maps.LatLng(52.229937, 21.011380),
		        mapTypeId: google.maps.MapTypeId.ROADMAP
		    };

		    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			// get bounds from last search or get default
			{% if (coordinates is defined) and coordinates %}
				var sw = new google.maps.LatLng({{ coordinates[0][0]|tojson|safe }}, {{ coordinates[0][1]|tojson|safe }});
				var ne = new google.maps.LatLng({{ coordinates[1][0]|tojson|safe  }}, {{ coordinates[1][1]|tojson|safe }});
			{% else %}
				var sw = new google.maps.LatLng(52.219937, 20.991380); // bottom left corner
				var ne = new google.maps.LatLng(52.239937, 21.031380); // top right corner
			{% endif %}

			var bounds = new google.maps.LatLngBounds(sw, ne);
			updateBounds(sw, ne);

			// Define a rectangle and set its editable property to true.
			rectangle = new google.maps.Rectangle({
				bounds: bounds,
				editable: true,
				draggable: true
			});

			rectangle.setMap(map);

			google.maps.event.addListener(rectangle, 'bounds_changed', function(event) {
				var sw = rectangle.getBounds().getSouthWest();
				var ne = rectangle.getBounds().getNorthEast();

				updateBounds(sw, ne);
			});

			{% if (coordinates is defined) and coordinates %}
				map.fitBounds(bounds);
			{% else %}
				locateCurrentPosition();
			{% endif %}
		}

		function locateCurrentPosition() {
		    if (navigator.geolocation) {
		        success = function(position) {
		            map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));

					var sw = new google.maps.LatLng(map.getCenter().lat() - 0.01, map.getCenter().lng() - 0.02);
					var ne = new google.maps.LatLng(map.getCenter().lat() + 0.01, map.getCenter().lng() + 0.02);
					rectangle.setBounds(new google.maps.LatLngBounds(sw, ne));
					updateBounds(sw, ne);
		        };
		        error = function() {}

		        navigator.geolocation.getCurrentPosition(success, error);
		    }
		}

		function updateBounds(sw, ne) {
			var bl_corner = document.getElementById('bl_corner');
			var tr_corner = document.getElementById('tr_corner');

			bl_corner.value = sw;
			tr_corner.value = ne;
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<h2>Szukaj Przygody</h2>
	<br>
	<div id="map-canvas"></div>
	<br>
	<form action="" method="post" name="edit">
		{{ form.hidden_tag() }}

		<input type="hidden" name="bl_corner" id="bl_corner">
		<input type="hidden" name="tr_corner" id="tr_corner">

		<div class="form-group">
			{{ render_multiplechoice_field(form.modes, title='Wybierz typ Przygody', **{'data-selected-text-format' : 'count>2', 'data-style' : 'btn-info'}) }}
			<div class="form-group has-error">
				<small class="form-group has-error help-block">{{ form.modes.errors[0] }}</small>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success">Szukaj Przygody</button>
		</div>
	</form>

	<br><br>
	{% if (adventures is defined) and adventures %}
		<h2>Znalezione Przygody</h2>

		<table class="table table-hover">
			<tr>
				<th>#</th>
				<th>Założyciel</th>
				<th>Data przygody</th>
				<th>Informacje</th>
				<th>Dołączyło</th>
				<th>Typ</th>
			</tr>
			{% for adventure in adventures %}
				<tr>
					<td>
						{% if g.user.is_authenticated() %}
							<a href="/adventures/{{ adventure.id|safe }}">
						{% endif %}
							{{ adventure.id|safe }}
						{% if g.user.is_authenticated() %}
							</a>
						{% endif %}
					</td>
					<td>{{ adventure.username|safe }}</td>
					<td>{{ adventure.date.strftime('%d %m %Y')|safe }}</td>
					<td>{{ adventure.info|safe }}</td>
					<td>{{ adventure.joined|safe }}</td>
					<td>{{ adventure.mode|safe }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
