<!-- extend base layout -->
{% extends "layout.html" %}

{% block body %}
	<h2>Przygoda #{{ adventure.id }}</h2>

	<br>
	<div class="panel panel-info">
	<!-- Default panel contents -->
		<div class="panel-heading">Informacje</div>
		<ul class="list-group">
			<li class="list-group-item">Creator: {{ adventure.username }}</li>
			<li class="list-group-item">Date: {{ adventure.date }}</li>
			<li class="list-group-item">Info: {{ adventure.info }}</li>
		</ul>
	</div>
	<div class="panel panel-info">
	<!-- Default panel contents -->
		<div class="panel-heading">Uczestnicy</div>
		<ul class="list-group">
			{% if (participants is defined) and participants %}
				{% for participant in participants %}
					<li class="list-group-item">
						<span class="glyphicon glyphicon-ok" style="color:#00FF00; padding-right: 15px;"></span>
						{{ participant.username }}
					</li>
				{% endfor %}
			{% else %}
				<li class="list-group-item">
					<span class="glyphicon glyphicon-remove" style="color:#FF0000; padding-right: 15px;"></span>
					Nikt jeszcze nie dołączył do przygody
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
