.auth-box {
  margin: 0px auto 0px auto;
  border: 1px solid #000000; }

@media (min-width: 768px) {
  .auth-box {
    width: 450px; } }
.auth-header {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000; }

.auth-content {
  padding-left: 15px;
  padding-right: 15px; }

.auth-social {
  margin-top: 25px;
  margin-bottom: 25px; }

.auth-separator {
  position: relative;
  text-align: center;
  margin: 0px 0;
  color: #666666; }
  .auth-separator:before, .auth-separator:after {
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc; }
  .auth-separator:before {
    left: 0; }
  .auth-separator:after {
    right: 0; }

.auth-form {
  margin-top: 25px; }
  .auth-form .btn {
    margin-top: 15px;
    width: 100%; }

.auth-footer {
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
  color: #999; }
  .auth-footer a {
    color: #000000; }
    .auth-footer a:hover {
      color: #f6da21;
      text-decoration: none; }

.contact-box {
  margin: 0px auto 0px auto;
  border: 1px solid #000000; }
  .contact-box .btn {
    margin-top: 15px;
    width: 100%; }

@media (min-width: 768px) {
  .contact-box {
    width: 550px; } }
.contact-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000; }

.contact-subtitle {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 15px; }

.contact-content {
  padding-left: 15px;
  padding-right: 15px; }

.contact-form {
  margin-top: 0px; }

.contact-footer {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
  color: #999; }

.admin-panel {
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #000000;
  background-color: #2a3133;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1000; }
  .admin-panel li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px; }
  .admin-panel a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500; }
  .admin-panel a:hover {
    color: #49a889;
    text-decoration: none; }

#map-canvas {
  width: 90%;
  height: 350px;
  margin: 0px auto;
  padding: 0px; }
  @media (min-width: 768px) {
    #map-canvas {
      width: 100%;
      height: 500px; } }

.hd-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.9em 1.8em 0.8em;
  margin: 0.6em 0;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  background-color: transparent;
  transition: all 0.2s ease-in-out; }
  .hd-btn:hover {
    text-decoration: none;
    background: #000000; }
  @media (min-width: 768px) {
    .hd-btn {
      font-size: 15px !important; } }

.hd-btn.hd-btn-white {
  color: #ffffff;
  border-color: #ffffff; }
  .hd-btn.hd-btn-white:hover {
    color: #000000;
    background: #ffffff; }

.hd-btn.hd-btn-black {
  color: #000000;
  border-color: #000000; }
  .hd-btn.hd-btn-black:hover {
    color: #ffffff !important;
    background: #000000; }

.hd-btn.hd-btn-yellow {
  color: #f6da21;
  border: 2px solid #f6da21; }
  .hd-btn.hd-btn-yellow:hover {
    color: #ffffff;
    background: #f6da21; }

.hd-btn.hd-btn-red {
  background: #b40a1e;
  color: #ffffff !important;
  border-color: #b40a1e; }
  .hd-btn.hd-btn-red:hover {
    background: #ffffff;
    color: #b40a1e !important;
    border-color: #ffffff; }

.hd-btn.hd-btn-mint {
  background: #00a89c;
  color: #ffffff;
  border-color: #00a89c; }
  .hd-btn.hd-btn-mint:hover {
    background: #ffffff;
    color: #00a89c;
    border-color: #ffffff; }

.hd-btn-on-white:hover {
  background: #000000;
  color: #ffffff; }

#spinner {
  position: relative;
  top: 30vh;
  left: auto;
  right: auto;
  bottom: auto; }

.adventure-box {
  margin-bottom: 25px;
  max-width: 100%; }

.adventure-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 75%;
  background-color: #242424;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: brightness(80%);
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease; }
  .adventure-image:hover {
    -webkit-filter: brightness(100%); }

.adventure-header-author {
  font-size: 17px;
  letter-spacing: 1.5px;
  font-weight: 400;
  display: block;
  color: #1888fc;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  left: 15px; }

.adventure-meta {
  border: 1px solid #e6e6e6; }

.adventure-title {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) {
    .adventure-title {
      font-size: 16px; } }
  .adventure-title a {
    color: #000000; }
    .adventure-title a:hover {
      color: #000000 !important;
      text-decoration: none; }

.adventure-details {
  color: #959595;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.3em;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .adventure-details {
      letter-spacing: 1.5px;
      font-size: 13px;
      line-height: 1.5px; } }
  .adventure-details i {
    color: #000000;
    letter-spacing: normal;
    font-size: 1.3em;
    margin-right: 2.5px;
    position: relative;
    top: 1px; }
  .adventure-details .left, .adventure-details .right {
    overflow: hidden;
    padding-bottom: 7.5px;
    padding-top: 7.5px; }
  .adventure-details .left {
    float: left;
    padding-left: 15px; }
  .adventure-details .right {
    float: right;
    padding-right: 15px; }

.permacover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

#intro {
  background-image: url("/static/img/bike.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }
  #intro .text {
    padding-top: 30vh; }

#main {
  margin-top: 90px;
  margin-bottom: 30vh;
  min-height: 60vh; }

#footer {
  color: #000000 !important;
  font-size: 14px;
  border-top: 1px solid #000000;
  padding-top: 30px;
  padding-bottom: 40px; }
  #footer a {
    color: #000000 !important; }
    #footer a:hover {
      color: #f6da21 !important;
      text-decoration: none; }
  #footer .social {
    margin-top: 30px; }
  #footer .copyrights {
    margin-top: 30px;
    font-size: 15px; }

/*# sourceMappingURL=style.css.map */
