{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['line', 'corechart', 'timeline', 'bar']}]}"></script>
	<script type="text/javascript">
		google.load('visualization', '1', {packages: ['line', 'bar']});
		google.setOnLoadCallback(drawAdventuresChart);
		google.setOnLoadCallback(drawUsersChart);
		google.setOnLoadCallback(drawUsersPerAdventureChart);
		google.setOnLoadCallback(drawAdventuresViewsChart);
		google.setOnLoadCallback(drawAdventuresSearchesChart);

		function drawAdventuresChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'All');
			data.addColumn('number', 'Active');

			var arr = JSON.parse({{ all_adventures|tojson|safe }})
			for (var i = 0; i < arr.length; i++) {
				data.addRow([
					new Date(arr[i].date),
					arr[i].all,
					arr[i].active
				])
			}

			var dateFormatter = new google.visualization.DateFormat({pattern: 'dd MMM yyyy'});
			dateFormatter.format(data, 0);

			var options = {
				title: 'ADVENTURES',
				width: "100%",
				height: 550,
				backgroundColor: 'none',
				hAxis: {
					title: 'Date',
					format: 'dd MMM yyyy',
					gridlines: {count: 20}
				},
				vAxis: {
					title: 'Value',
					minValue: 0
				}
			};

			var chart = new google.charts.Line(document.getElementById('adventures_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}

		function drawUsersChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'All');
			data.addColumn('number', 'Active login')

			var arr = JSON.parse({{ all_users|tojson|safe }})
			for (var i = 0; i < arr.length; i++) {
				data.addRow([
					new Date(arr[i].date),
					arr[i].all,
					arr[i].active
				])
			}

			var dateFormatter = new google.visualization.DateFormat({pattern: 'dd MMM yyyy'});
			dateFormatter.format(data, 0);


			var options = {
				title: 'USERS',
				width: "100%",
				height: 550,
				backgroundColor: 'none',
				hAxis: {
					title: 'Date',
					format: 'dd MMM yyyy',
					gridlines: {count: 20}
				},
				vAxis: {
					title: 'Value',
					minValue: 0
				}
			};

			var chart = new google.charts.Line(document.getElementById('users_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}

		function drawUsersPerAdventureChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('datetime', 'Date');
			data.addColumn('number', 'Users per adventure');

			var arr = JSON.parse({{ all_users_per_adventure|tojson|safe }})
			for (var i = 0; i < arr.length; i++) {
				data.addRow([
					new Date(arr[i].date),
					arr[i].users_per_adventure
				])
			}

			var dateFormatter = new google.visualization.DateFormat({pattern: 'dd MMM yyyy'});
			dateFormatter.format(data, 0);

			var options = {
				title: 'USERS PER ADVENTURE',
				width: "100%",
				height: 550,
				backgroundColor: 'none',
				hAxis: {
					title: 'Date',
					format: 'dd MMM yyyy (HH:mm:ss)',
					gridlines: {count: 20}
				},
				vAxis: {
					title: 'Value',
					format:'#.###'
				}
			};

			var chart = new google.charts.Line(document.getElementById('users_per_adventure_chart'));
			chart.draw(data, google.charts.Line.convertOptions(options));
		}

		function drawAdventuresViewsChart() {
			var data = google.visualization.arrayToDataTable([
	    		['Adventure ID', 'Views'],
				{%- for adventure in all_adventures_views -%}
					[
						'{{ adventure.id }}',
						{{ adventure.views }}
					],
				{%- endfor -%}
			]);

			var options = {
				title: 'ADVENTURES VIEWS',
				width: "100%",
				height: 550,
				backgroundColor: 'none',
				bar: {groupWidth: '95%'},
				hAxis: {
					title: 'Adventure ID'
				},
				vAxis: {
					title: 'Views'
				}
			};

			var chart = new google.charts.Bar(document.getElementById('adventures_views_chart'));
			chart.draw(data, google.charts.Bar.convertOptions(options));
		}

		function drawAdventuresSearchesChart() {
			var data = google.visualization.arrayToDataTable([
	    		['Adventure ID', 'Searches'],
				{%- for adventure in all_adventures_searches -%}
					[
						'{{ adventure.id }}',
						{{ adventure.searches }}
					],
				{%- endfor -%}
			]);

			var options = {
				title: 'ADVENTURES SEARCHES',
				width: "100%",
				height: 550,
				backgroundColor: 'none',
				bar: {groupWidth: '95%'},
				hAxis: {
					title: 'Adventure ID'
				},
				vAxis: {
					title: 'Searches'
				}
			};

			var chart = new google.charts.Bar(document.getElementById('adventures_searches_chart'));
			chart.draw(data, google.charts.Bar.convertOptions(options));
		}
	</script>

	<h2>Wykresy</h2>
	<br><br><br><div id="adventures_chart"></div>
	<br><br><br><div id="users_chart"></div>
	<br><br><br><div id="users_per_adventure_chart"></div>
	<br><br><br><div id="adventures_views_chart"></div>
	<br><br><br><div id="adventures_searches_chart"></div>
{% endblock %}
