{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
	<h2>Zaloguj się do Przygody</h2>
	<div class="control-group">
		<div class="controls">
		  <input type="text" id="username" name="username" class="input-xlarge"
			placeholder="Użytkownik" required>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
		  <input type="password" id="password" name="password" class="input-xlarge"
			placeholder="Hasło" required>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
		  <button type="submit" class="btn btn-success">Zaloguj się</button>
		</div>
	</div>
  </form>
{% endblock %}
