<!-- extend base layout -->
{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyD9ryFHC07cVPEgeKlRG-wFHRgF9dTPPL8"></script>

	{% if (adventures is not defined) or (not adventures) %}
		<div class="row text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<p class="lead">
					Nie ma jeszcze żadnych aktywnych Przygód <i class="fa fa-frown-o"></i><br>
					Uprzedź innych i stwórz własną!
				</p>
				<p><a class="hd-btn hd-btn-black" href="{{ url_for('adventures.new') }}">Stwórz Przygodę</a></p>
			</div>
		</div>
	{% else %}
		<div class="row">
			{% for adventure in adventures %}
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
					<div class="adventure-box">
						<div class="adventure-image" style="background-image:url(
						'https://maps.googleapis.com/maps/api/staticmap?size=640x640&style=feature:road|element:all|visibility:on&style=feature:road|element:labels.icon|visibility:off&style=feature:road|element:labels.text.fill|color:0x959595&style=feature:poi|element:all|visibility:off&style=feature:administrative|element:all|visiblity:off&path=color:0x0000ff|weight:5
						{%- for marker in adventure.markers -%}
							|{{ marker[0]|tojson|safe }},{{ marker[1]|tojson|safe }}
						{%- endfor -%}
						');">
							<a href="/adventures/{{ adventure.id|safe }}" class="permacover"></a>
							<div href="/adventures/{{ adventure.id|safe }}" class="adventure-header-author">{{ adventure.username|safe }}</div>
						</div><!-- /.object-header -->

						<div class="adventure-meta">
							<div class="adventure-title">
								<a href="/adventures/{{ adventure.id|safe }}">{{ adventure.info|safe }}</a>
							</div>

							<div class="adventure-details clearfix">
								<div class="left"><i class="fa fa-user"></i> {{ adventure.joined|safe }}</div>
								<div class="right"><i class="fa fa-bicycle"></i> {{ adventure.mode|safe }}</div>
								<div style='clear:both'></div>
								<div class="left"><i class="fa fa-clock-o"></i> {{ adventure.date.strftime('%d.%m.%Y %H:%M')|safe }}</div>
								<div class="right"><i class="fa fa-gear"></i>
									{% if g.user.is_authenticated() %}
										{% if adventure.action == -1 %}
											Nie ma akcji
										{% elif adventure.action == 0 %}
											<a href="/adventures/join/{{ adventure.id|safe }}">Dołącz</a>
										{% else %}
											<a href="/adventures/leave/{{ adventure.id|safe }}">Wypisz się</a>
										{% endif %}
									{% else %}
										Nie ma akcji
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		</div>
	{% endif %}
{% endblock %}
