<!-- extend base layout -->
{% extends "layout.html" %}
{% block body %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyD9ryFHC07cVPEgeKlRG-wFHRgF9dTPPL8"></script>

	<!-- Activity indicator -->
	<script src="/static/js/spin.js"></script>
	<script>
		var mostRecent = [];
		var stortSoon = [];
		var topAdvenutres = [];
		var spinner = new Spinner({radius: 14, length: 12, width: 6, lines: 12});

		function resetActive() {
			$('button').each(function(index, element) {
				$(this).removeClass("active")
			});
		}

		function showMostRecent(button) {
			// reset active buttons
			resetActive();

			// change button to active
			$(button).addClass("active")
			show(mostRecent)
		}

		function showStartSoon(button) {
			// reset active buttons
			resetActive();

			// change button to active
			$(button).addClass("active")
			show(startSoon)
		}

		function showTopAdventures(button) {
			// reset active buttons
			resetActive();

			// change button to active
			$(button).addClass("active")
			show(topAdvenutres)
		}

		function updateMostRecent(button, newMostRecent) {
			resetActive();

			// change button to active
			$(button).addClass("active");

			var toUpdate = [];
			for (var i = 0; i < newMostRecent.length; i++) {
				var isNew = true;
				for (var j = 0; j < mostRecent.length; j++) {
					if (newMostRecent[i].id === mostRecent[j].id) {
						isNew = false;
						break;
					}
				}

				if (isNew) {
					mostRecent.push(newMostRecent[i]);
					toUpdate.push(newMostRecent[i]);
				}
			}

			show(toUpdate, "update");
		}

		function show(adventures) {
			$("#adventures").empty();

			for (var i = 0; i < adventures.length; i++) {
				var adventureRow = '' +
				'<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">' +
					'<div class="adventure-box">' +
						'<div class="adventure-image" style="background-image:url(\'';

				var image_url = 'https://maps.googleapis.com/maps/api/staticmap?size=640x640&style=feature:road|element:all|visibility:on&style=feature:road|element:labels.icon|visibility:off&style=feature:road|element:labels.text.fill|color:0x959595&style=feature:poi|element:all|visibility:off&style=feature:administrative|element:all|visiblity:off&path=color:0x0000ff|weight:5'
				for (var j = 0; j < adventures[i].markers.length; j++) {
					image_url += '|' + adventures[i].markers[j][0] + ',' + adventures[i].markers[j][1]
				}

				action = '';
				if (adventures[i].action == 'no-action')
					action = 'No action';
				else if (adventures[i].action == 'join') {
					action = '<a href="/adventures/join/' + adventures[i].id + '">{{ _("Join") }}</a>';
				} else if (adventures[i].action == 'leave') {
					action = '<a href="/adventures/leave/' + adventures[i].id + '">{{ _("Leave") }}</a>';
				} else if (adventures[i].action == 'manage') {
					action = '<a href="/adventures/edit/' + adventures[i].id + '">{{ _("Edit") }}</a> | <a href="/adventures/delete/' + adventures[i].id + '" onclick="return confirm(\'{{ _("Are you sure you want to delete this Adventure?") }}\');">{{ _("Delete") }}</a>';
				}

				adventureRow += image_url;
				adventureRow += '\');">' +
							'<a href="/adventures/' + adventures[i].id + '" class="permacover"></a>' +
							'<div href="/adventures/' + adventures[i].id + '" class="adventure-header-author">' + adventures[i].username + '</div>' +
						'</div><!-- /.object-header -->' +
						'<div class="adventure-meta">' +
							'<div class="adventure-title">' +
								'<a href="/adventures/' + adventures[i].id + '">' + adventures[i].info + '</a>' +
							'</div>' +
							'<div class="adventure-details clearfix">' +
								'<div class="left"><i class="fa fa-user"></i> ' + adventures[i].joined + '</div>' +
								'<div class="right"><i class="fa fa-bicycle"></i> ' + adventures[i].mode + '</div>' +
								'<div style="clear:both"></div>' +
								'<div class="left"><i class="fa fa-clock-o"></i> ' + adventures[i].date + '</div>' +
								'<div class="right"><i class="fa fa-gear"></i> ';
									adventureRow += action;
				adventureRow += '' +
								'</div>' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>';

				$("#adventures").append(adventureRow);
			}
		}

		function update_progress(status_url) {
			// send GET request to status URL
			$.getJSON(status_url, function(data) {
				mostRecent = data['most_recent'];
				startSoon = data['start_soon'];
				topAdvenutres = data['top_adventures'];
				// updateMostRecent($("#most_recent").get(), data['most_recent']);

				if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
					// show adventures
					showMostRecent($("#most_recent").get());

					if (mostRecent.length <= 0) {
						$("#no-adventure").show(); // show no adventures comment
					} else {
						$("#all-adventures").show(); // show all adventures
					}

					// stop spinner with small delay
					setTimeout(function() {
						spinner.stop();
					}, 500);
				} else {
					// rerun in 200 miliseconds
					setTimeout(function() {
						update_progress(status_url);
					}, 200);
				}
			});
		}

		$(window).load(function() {
			// activate spinner
			spinner.spin(document.getElementById('spinner'));

			// get tasks
			update_progress('/status/{{ task_id }}');
		});
	</script>

	<div id="spinner"></div>

	<div id="no-adventure" class="row text-center" style="display: none">
		<div class="col-sm-8 col-sm-offset-2">
			<p class="lead">
				{{ _('There is not active Adventures <i class="fa fa-frown-o"></i><br> Be first and create yours')}}
			</p>
			<p><a class="hd-btn hd-btn-black" href="{{ url_for('adventures.new') }}">{{ _('Create Adventure') }}</a></p>
		</div>
	</div>

	<div id="all-adventures" style="display: none">
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="adventure feed">
				<button id="most_recent" type="button" class="btn btn-info" onclick="showMostRecent(this)">{{ _('Most Recent') }}</button>
				<button id="start_soon" type="button" class="btn btn-info" onclick="showStartSoon(this)">{{ _('Start Soon') }}</button>
				<button id="top_adventures" type="button" class="btn btn-info" onclick="showTopAdventures(this)">{{ _('Top Adventures') }}</button>
			</div>
		</div>
		<br><br><br>
		<div id="adventures" class="row"></div>
	</div>
{% endblock %}
