{% extends "layout.html" %}
{% block body %}
    {% macro render_field(field, placeholder=None) %}
        {% if field.errors %}
        <div>
        {% elif field.flags.error %}
        <div>
        {% else %}
        <div>
        {% endif %}

        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
        </div>
    {% endmacro %}

    <div class="contact-box">
        <div class="contact-title">Kontakt</div>
        <div class="contact-subtitle">
            Jeżeli:
            <ul>
                <li>masz pomysł jak moglibyśmy poprawić naszą stronę?</li>
                <li>zauważyłeś błąd na stronie?</li>
                <li>masz do nas pytanie?</li>
            </ul>
            Napisz do nas!
        </div>
        <div class="contact-content">
            <div class="contact-form">
                <form action="" method="post" name="contact">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            {{ render_field(form.email, placeholder="Email (opcjonalne)") }}
                        </div>
                        <div class="form-group has-error">
                            <small class="form-group has-error help-block">{{ form.email.errors[0] }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                            {{ render_field(form.subject, placeholder="Temat (opcjonalne)") }}
                        </div>
                        <div class="form-group has-error">
                            <small class="form-group has-error help-block">{{ form.subject.errors[0] }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ render_field(form.message, placeholder="Co chcesz nam przekazać?", rows="6", style="max-width: 100%") }}
                        <div class="form-group has-error">
                            <small class="form-group has-error help-block">{{ form.message.errors[0] }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Wyślij wiadomość</button>
                    </div>
                </form>
            </div>
            <div class="contact-footer">Za wszystkie wiadomości i uwagi bardzo dziękujemy!</div>
        </div>
    </div>
{% endblock %}
