<!-- extend base layout -->
{% extends "layout.html" %}

{% block body %}
	<style>
		#map-canvas {
			height: 400px;
			width: 400px;
			margin: 0px;
			padding: 0px
		}
	</style>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=pl?key=AIzaSyCUcFnTQOK-YqYdcQfkb0-dQ85FZ4zvPxU"></script>
	<script>
		function initialize() {
			var mapOptions = {
				zoom: 13,
				center: new google.maps.LatLng(52.229937, 21.011380),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};

			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			var polyOptions = {
				strokeColor: '#000000',
				strokeOpacity: 0.7,
				strokeWeight: 3,
				// editable: true
			};

			{% for adventure_markers in adventures_markers %}
				var pathCoordinates = []
				{% for marker in adventure_markers %}
					var pos = new google.maps.LatLng({{ marker[0] }}, {{ marker[1] }});
					pathCoordinates.push(pos);

					var marker = new google.maps.Marker({
						position: pos,
						draggable: false,
						title: '#',
						map: map,
						// animation: google.maps.Animation.DROP
					});
				{% endfor %}

				var path = new google.maps.Polyline({
					path: pathCoordinates,
					geodesic: true,
					strokeColor: '#FF0000',
					strokeOpacity: 1.0,
					strokeWeight: 2
				});

				path.setMap(map);
			{% endfor %}
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<div id="map-canvas"></div>

	<h2>Przygody</h2>
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>Założyciel</th>
			<th>Data przygody</th>
			<th>Informacje</th>
			<th>Dołączyło</th>
			<th>Typ</th>
			{% if g.user.is_authenticated() %}
			<th>Akcja</th>
			{% endif %}
		</tr>
		{% for adventure in adventures %}
			<tr>
				<td>
					{% if g.user.is_authenticated() %}
						<a href="/adventures/{{ adventure.id }}">
					{% endif %}
						{{ adventure.id }}
					{% if g.user.is_authenticated() %}
						</a>
					{% endif %}
				</td>
				<td>{{ adventure.username }}</td>
				<td>{{ adventure.date.strftime('%d %m %Y') }}</td>
				<td>{{ adventure.info }}</td>
				<td>{{ adventure.joined }}</td>
				<td>{{ adventure.mode }}</td>
				{% if g.user.is_authenticated() %}
					<td><a href="/adventures/join/{{ adventure.id }}">Dołącz</a>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
