{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
	{% with %}
		{% set location=(52.229937, 21.011380) %}
		{% set style="width:400px;height:400px;"%}

		{{
			googlemap(
				"przygoda",
				location.0, location.1,
				markers=all_coordinates,
				style=style
			)
		}}
	{% endwith %}

	<h2>Przygody</h2>
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>Założyciel</th>
			<th>Data przygody</th>
			<th>Informacje</th>
			<th>Dołączyło</th>
			{% if g.user.is_authenticated() %}
			<th>Akcja</th>
			{% endif %}
		</tr>
		{% for adventure in adventures %}
			<tr>
				<td>
					{% if g.user.is_authenticated() %}
						<a href="/adventures/{{ adventure.id }}">
					{% endif %}
						{{ adventure['id'] }}
					{% if g.user.is_authenticated() %}
						</a>
					{% endif %}
				</td>
				<td>{{ adventure['username'] }}</td>
				<td>{{ adventure['date'].strftime('%d %m %Y') }}</td>
				<td>{{ adventure['info'] }}</td>
				<td>{{ adventure['joined'] }}</td>
				{% if g.user.is_authenticated() %}
					<td><a href="/adventures/join/{{ adventure.id }}">Dołącz</a>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
