<!-- extend base layout -->
{% extends "layout.html" %}

{% set story=True %}
{% block story %}
	<section id="landing_intro">
		<div class="text text-center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="lead">
						Rowerzysto! Śmigasz rekreacyjnie, wyczynowo a może nawet profesjonalnie?<br>Znajdź towarzystwo i ruszaj z nim na Przygodę!
					</p>
					<p><a class="hd-btn hd-btnBlack" href="{{ url_for('users.register') }}">Zarejestruj się</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
