<!-- extend base layout -->
{% extends "layout.html" %}

{% set story=True %}
{% block story %}
	<section id="intro">
		<div class="text text-center">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="lead">
						{{ _('Do you ride for fun, or you make your path a challange?<br>Find friends, company and go on Adventure!')}}
					</p>
					<p><a class="hd-btn hd-btn-black" href="{{ url_for('users.register') }}">{{ _('Register now') }}</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
